header {
  border-bottom: 2px solid black;
  background-color: #1D6FB1;
  padding-top: 10px; }
  header nav ul {
    list-style: none; }
    header nav ul li {
      display: inline; }
      header nav ul li a {
        color: black; }
        header nav ul li a button {
          border-radius: 5px; }

#registration {
  text-align: center; }
  #registration h1 {
    text-align: center; }
