<div id="registration">

<h1>Please Register</h1>

<form ng-submit="registration(user)">
  <input type='text' placeholder="Username" ng-model="user.username"/>
  <input type='password' placeholder="Password" ng-model="user.password"/>
  <button>Register</button>

</form>

<div id="login">
  <h1>Already have an account? Please login here</h1>

    <form ng-submit="login(user)">
      <input type='text' placeholder='Enter Username' ng-model="user.username" />
      <input type='password' placeholder ='Enter Password' ng-model="user.password" />
      <button>Login</button>
    </form>
</div>



</div>